.home {

    background: linear-gradient(rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.63)), url('../images/front\ background.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;

    img{
        justify-self: start;
        align-self: self-start;
        width: 100%;
    }
            
    

    .bottom_home {

        // .part1 {
        //  width: 100%;
        // //  min-width: 1442px;
        // //  height: 200px;
        //  display: flex;
        //  flex-direction: column;
        //  align-items: center;
        //  margin: auto;
        //  transform: translateY(-910px);
    
        //         h1{
        //             width: 85%;
        //             font-family: 'Adlery Pro';
        //             font-size: 120px;
        //             font-weight: 400;

        //         }
    
        //         h2{
        //             width: 85%;
        //             background: none;
        //             color: white;
        //             font-size: 2.5em;
        //             font-family:Verdana, Geneva, Tahoma, sans-serif;
        //         }
        //     }
    
    //     .part2 {
    //         width: 50%;
    //         margin-top: 200px;
    //         --s: 130px; /* control the size */
    //         display: grid;
    //         justify-content: center;
    //         align-items: center;
    
    // //         img {
    // //             grid-area: 1/1;
    // //             width: var(--s);
    // //             aspect-ratio: 1;
    // //             object-fit: cover;
    // //             clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    // //             transform: translate(var(--_x,0),var(--_y,0)) scale(var(--_t,1));
    // //             cursor: pointer;
    // //             filter: grayscale(70%);
    // //             transition: .2s linear;
    
    // //             &:hover {
    // //                 filter: grayscale(0);
    // //                 z-index: 1;
    // //                 --_t: 1.2;
    // //               }
    // //           }
    
    // //         img:nth-child(1) {--_x: calc(-70%)}
    // //         img:nth-child(1) {--_y: calc(-47%)}
    
    // //         img:nth-child(2) {--_x: calc(8% )}
    // //         img:nth-child(2) {--_y: calc(0% )}
    
    // //         img:nth-child(3) {--_x: calc(-70% )}
    // //         img:nth-child(3) {--_y: calc(47% )}
    
    // //         img:nth-child(4) {--_x: calc(8% )}
    // //         img:nth-child(4) {--_y: calc(-94% )}
    
    // //         img:nth-child(5) {--_x: calc(8% )}
    // //         img:nth-child(5) {--_y: calc(-188% )}
    
    // //         img:nth-child(6) {--_x: calc(86% )}
    // //         img:nth-child(6) {--_y: calc(-47% )}
    
    // //         img:nth-child(7) {--_x: calc(86% )}
    // //         img:nth-child(7) {--_y: calc(-141% )}
    
    // //         img:nth-child(8) {--_x: calc(164% )}
    // //         img:nth-child(8) {--_y: calc(-94% )}
            
    // //         img:nth-child(9) {--_x: calc(164% )}
    // //         img:nth-child(9) {--_y: calc(-188% )}
    
    // //         img:nth-child(10) {--_x: calc(164% )}
    // //         img:nth-child(10) {--_y: calc(0% )}
    //       }
    // }
    }
}