nav {
    line-height: 50px;
    width: 100%;
    min-width: 1400px;
    background: rgba(64, 49, 1, 0.703);
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 999;

    a {
        text-decoration: none;
        color: $navtextcolor;
        font-weight: bold;
    }

    img{
        width: 20px;
    }

    .right{
        width: 30%;
        display: flex;
        justify-content: space-around;
    };
}