nav {
    line-height: 50px;
    width: 100%;
    min-width: 1400px;
    height: 50px;
    background: rgba(64, 49, 1, 0.703);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 999;

    a {
        text-decoration: none;
        color: $navtextcolor;
        font-weight: bold;
    }

    img{
        width: 30px;
    }

    .left{
        width: 50%;
        display: flex;
        justify-content: start;

        a{
            height: 30px;
            margin-left: 200px;
        }
        
        img{
            align-items: center;
        }
    }

    .right{
        width: 50%;
        height: 50px;
        display: flex;
        justify-content: space-around;

        #tools{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.link:hover{
    cursor: pointer;
    color: wheat;
}

.navtools{
    background: rgba(64, 49, 1, 0.703);
    width: 200px;
    height: 200px;
    border-radius: 0 0 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-200px);
    transition: 0.3s;
    opacity: 0;

    a:hover{
        cursor: pointer;
    color: wheat;
    }
}


.transformY {
    transform: translateY(50.4px);
    opacity: 1;
}


// @media (max-width: 768px) {
//     nav {
//         height: 150px;
//         width: 100%;
//         font-size: 3em;
//         min-width: 320px;
    
    
//         img{
//             width: 50px;
//         }
    
//         .right{
//             width: 50%;
    
//         //     #tool{
//         //         display: flex;
//         //         flex-direction: column;
//         //         justify-content: center;
//         //         align-items: center;
//         //     }
//         }
//     }
// }